Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

build_client:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildClientImage

build_server:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildServerImage

client_unit_tests:
  stage: test
  image: $CLIENT_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /app
  - npm run test:unit
  needs:
  - build_client

server_unit_tests:
  stage: test
  image: $SERVER_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /src
  - dotnet test
  needs:
  - build_server

fix piepeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

Test
  README.md
Due: none

install bash in pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

delete file
  .gitattributes
Due: none

make pipeline great again
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

test
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

implement AuthService and authGuard
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/auth/Auth0AppState.ts
  client/src/auth/Auth0OnRedirectCallback.ts
  client/src/auth/Auth0TypeMappers.ts
  client/src/auth/AuthGuard.ts
  client/src/auth/AuthService.ts
  client/src/auth/authGuard.ts
  client/src/auth/authServiceFactory.ts
  client/src/auth/interfaces/Auth0AppState.ts
  client/src/auth/interfaces/Auth0OnRedirectCallback.ts
  client/src/auth/interfaces/Auth0User.ts
  client/src/auth/interfaces/index.ts
  client/src/auth/mapAuth0User.ts
  client/src/main.ts
  client/src/router/index.ts
  client/src/views/Profile.vue
  client/tests/unit/AuthService.spec.ts
  client/tests/unit/auth/AuthService.spec.ts
  client/tests/unit/auth/authServiceFactory.spec.ts
  client/tests/unit/auth/mapAuth0User.spec.ts
Due: build_client, client_unit_tests

add lates icon version
  client/public/img/icons/coastline-logo-auth0.png
Due: build_client, client_unit_tests

configure cd auth0 for staging and production
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
