Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml

apply mr comments
  server/CoastlineServer.Service/Controllers/UsersController.cs
Due: build_server, server_unit_tests

execute sonarqube only for master
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

user list was rendered when it was empty and took away space from the empty list element
  client/src/views/CoachingPerModule.vue
Due: build_client, client_unit_tests

git enable authentication in swagger ui
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

resolve conflicts
  client/package-lock.json
  client/src/services/study-group/StudyGroupService.ts
  client/src/services/studyGroupService.ts
  client/tests/unit/components.spec.ts
  client/tests/unit/services/studyGroupService.spec.ts
  client/tests/unit/services/userService.spec.ts
  client/tests/unit/unittests.spec.ts
  server/CoastlineServer.DAL/Migrations/20200513112335_InitialCreate.Designer.cs
  server/CoastlineServer.DAL/Migrations/20200513112335_InitialCreate.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

add authentification to POST Studygroup
  client/src/services/study-group/StudyGroupForCreation.ts
  client/src/services/study-group/StudyGroupService.ts
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

change Profile image to capital letters
  client/src/components/common/ProfileImage.vue
  client/tests/unit/components.spec.ts
Due: build_client, client_unit_tests

error handling for create dialog
  client/src/components/common/StudyGroupCreateDialog.vue
Due: build_client, client_unit_tests

add timeout to for editing user
  client/src/components/common/EditUserData.vue
Due: build_client, client_unit_tests

refactoring
  client/src/components/common/StudyGroupCreateDialog.vue
Due: build_client, client_unit_tests

better error red
  client/src/components/common/EditUserData.vue
Due: build_client, client_unit_tests

test pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

bug fixed refresh module title
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

refactor all fetch calls into fetch service, change waiting time for edit user data and create study group to 1 second, fix create study group button when page reloads
  client/src/components/common/EditUserData.vue
  client/src/components/common/StudyGroupCreateDialog.vue
  client/src/services/fetchService.ts
  client/src/services/moduleService.ts
  client/src/services/study-group/StudyGroupService.ts
  client/src/services/userService.ts
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

test sonarqube
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

add exception handling for production
  server/CoastlineServer.Service/Program.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

test sonarqube build
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

test sonarqube pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

test again
  .gitlab-ci.yml
  server/CoastlineServer.Service/Models/UserDto.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

add unnecessary repobase
  server/CoastlineServer.DAL/Entities/Module.cs
  server/CoastlineServer.DAL/Entities/Strength.cs
  server/CoastlineServer.DAL/Entities/StudyGroup.cs
  server/CoastlineServer.DAL/Entities/User.cs
  server/CoastlineServer.Repository/Exceptions/OptimisticConcurrencyException.cs
  server/CoastlineServer.Repository/ModuleRepository.cs
  server/CoastlineServer.Repository/RepositoryBase.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Repository/UserRepository.cs
Due: build_server, server_unit_tests

refactor code smells
  server/CoastlineServer.Repository/Parameters/UserResourceParameters.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service/Program.cs
Due: build_server, server_unit_tests

refactor options endpoints
  server/CoastlineServer.Service/Controllers/ModulesController.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
Due: build_server, server_unit_tests

add options tests
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupsControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

add repobase & repobase tests
  server/CoastlineServer.Repository.Testing/CoastlineServer.Repository.Testing.csproj
  server/CoastlineServer.Repository.Testing/ModuleRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/RepositoryBaseTest.cs
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/ModuleRepository.cs
  server/CoastlineServer.Repository/RepositoryBase.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Repository/UserRepository.cs
Due: build_server, server_unit_tests

refactor bases
  server/CoastlineServer.Service.Testing/IntegrationTests/ControllerBaseTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupsControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

refactor
  server/CoastlineServer.Repository.Testing/RepositoryBaseTest.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
Due: build_server, server_unit_tests

revert pipeline for sonarqube
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

remove usings
  server/CoastlineServer.Repository/ModuleRepository.cs
  server/CoastlineServer.Service/Models/UserDto.cs
Due: build_server, server_unit_tests

remove space in ci cd config
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

Resolve "Security Issues & Bugs Backend"
  server/CoastlineServer.DAL/Entities/Module.cs
  server/CoastlineServer.DAL/Entities/Strength.cs
  server/CoastlineServer.DAL/Entities/StudyGroup.cs
  server/CoastlineServer.DAL/Entities/User.cs
  server/CoastlineServer.Repository.Testing/CoastlineServer.Repository.Testing.csproj
  server/CoastlineServer.Repository.Testing/ModuleRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/RepositoryBaseTest.cs
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/Exceptions/OptimisticConcurrencyException.cs
  server/CoastlineServer.Repository/ModuleRepository.cs
  server/CoastlineServer.Repository/Parameters/UserResourceParameters.cs
  server/CoastlineServer.Repository/RepositoryBase.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/ControllerBaseTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupsControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
  server/CoastlineServer.Service/Controllers/ModulesController.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Program.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

trim nickname to 20 characters
  client/src/services/userService.ts
Due: build_client, client_unit_tests

remove any and extract header into method
  client/src/services/fetchService.ts
  client/src/services/moduleService.ts
  client/src/services/study-group/StudyGroupService.ts
  client/src/services/userService.ts
Due: build_client, client_unit_tests

set delay to 750ms
  client/src/components/common/EditUserData.vue
  client/src/components/common/StudyGroupCreateDialog.vue
Due: build_client, client_unit_tests

test
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

change version numbers
  k8s-chart/Chart.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests
