Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml

#112 force unix style line ending in git Part 2
  .gitattributes
Due: none

Add some introduction and known issues for the front end.
  client/README.md
Due: build_client, client_unit_tests

us es6 import for dotenv
  client/src/main.ts
Due: build_client, client_unit_tests

#112 force unix style line ending in git
  .gitattributes
Due: none

removed dotenv as it's already included in vue
  client/.env
  client/package-lock.json
  client/package.json
  client/src/main.ts
Due: build_client, client_unit_tests

change comment in Configuration.ts
  client/src/Configuration.ts
Due: build_client, client_unit_tests

#112 lint with unix line endings and change vue script indent style
  client/.eslintrc.js
  client/src/App.vue
  client/src/components/HelloWorld.vue
  client/src/components/common/ProfileImage.vue
  client/src/components/common/UserList.vue
  client/src/components/layout/Header.vue
  client/src/views/Home.vue
  client/src/views/Student.vue
  client/src/views/Students.vue
Due: build_client, client_unit_tests

ignore env files instead of removing them
  client/.dockerignore
  client/prod.dockerfile
Due: build_client, client_unit_tests

Add environment file and exclude it in dockerfile
  client/.env
  client/prod.dockerfile
  client/src/Configuration.ts
  client/src/main.ts
Due: build_client, client_unit_tests

Add some new empty views, fix script formating
  client/src/components/layout/BottomNavigation.vue
  client/src/components/layout/Header.vue
  client/src/router/index.ts
  client/src/views/Coaching.vue
  client/src/views/Home.vue
  client/src/views/Student.vue
  client/src/views/Students.vue
  client/src/views/Studygroups.vue
  client/src/views/Testing.vue
Due: build_client, client_unit_tests

Add possibility to choose text in second row of UserList
  client/src/components/common/UserList.vue
Due: build_client, client_unit_tests

add a module list component, update bottom navigation to only show user story related tabs, add studygroup and coaching page plus sub page, add module type, and add mock module service
  client/src/components/common/ModuleList.vue
  client/src/components/layout/BottomNavigation.vue
  client/src/router/index.ts
  client/src/services/Module.ts
  client/src/services/moduleService.ts
  client/src/views/Coaching.vue
  client/src/views/CoachingModule.vue
  client/src/views/Studygroups.vue
  client/src/views/StudygroupsModule.vue
Due: build_client, client_unit_tests

#113 restructure app. fix css issues with header and navigation bar (they can now do their own padding of the content). do first implementation of the header.
  client/src/App.vue
Due: build_client, client_unit_tests

#112 lint with unix line endings and change vue script indent style
  client/src/components/common/UserList.vue
Due: build_client, client_unit_tests

correct faulty redirection
  client/src/components/common/UserList.vue
Due: build_client, client_unit_tests

add StudyGroup and Member entities
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
Due: build_server, server_unit_tests

add properties and relations to entities
  server/CoastlineServer.DAL/CoastlineServer.DAL.csproj
  server/CoastlineServer.DAL/Context/UserTypeConfig.cs
  server/CoastlineServer.DAL/Entities/Member.cs
  server/CoastlineServer.DAL/Entities/StudyGroup.cs
  server/CoastlineServer.DAL/Entities/User.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
Due: build_server, server_unit_tests

add studygroup, member config for context
  server/CoastlineServer.DAL/Context/CoastlineContext.cs
  server/CoastlineServer.DAL/Context/MemberTypeConfig.cs
  server/CoastlineServer.DAL/Context/StudyGroupTypeConfig.cs
  server/CoastlineServer.DAL/Entities/StudyGroup.cs
Due: build_server, server_unit_tests

add cofigurations folder to DAL
  server/CoastlineServer.DAL/Configurations/MemberTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/UserTypeConfig.cs
  server/CoastlineServer.DAL/Context/CoastlineContext.cs
Due: build_server, server_unit_tests

new seed data for members / studygroups
  server/CoastlineServer.DAL/Configurations/MemberTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
Due: build_server, server_unit_tests

quick fix
  server/CoastlineServer.DAL/Configurations/MemberTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
Due: build_server, server_unit_tests

StudyGroup component and Moment package added
  client/package-lock.json
  client/package.json
  client/src/components/common/StudyGroupList.vue
  client/src/services/StudyGroup.ts
Due: build_client, client_unit_tests

add component studyGroup to view
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

update seed data studygroups
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
Due: build_server, server_unit_tests

update member config, add member seed data
  server/CoastlineServer.DAL/Configurations/MemberTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
  server/CoastlineServer.DAL/Entities/StudyGroup.cs
  server/CoastlineServer.DAL/Entities/User.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
Due: build_server, server_unit_tests

add migration for study groups
  server/CoastlineServer.DAL/Migrations/20200331124122_InitialCreate.cs
  server/CoastlineServer.DAL/Migrations/20200416163153_AddStudyGroups.Designer.cs
  server/CoastlineServer.DAL/Migrations/20200416163153_AddStudyGroups.cs
Due: build_server, server_unit_tests

install swagger api documentation
  server/CoastlineServer.Service/CoastlineServer.Service.csproj
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

add studygroup repo & tests
  server/CoastlineServer.DAL/Entities/User.cs
  server/CoastlineServer.Repository.Testing/CoastlineServer.Repository.Testing.csproj
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
Due: build_server, server_unit_tests

remove separate dto for post
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Models/UserDTO.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
  server/CoastlineServer.Service/Profiles/UserProfile.cs
Due: build_server, server_unit_tests

configure route for swagger ui as root path
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

endpoint studygroups
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service/CoastlineServer.Service.csproj
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Models/StudyGroupDto.cs
  server/CoastlineServer.Service/Profiles/StudyGroupProfile.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

comment integration tests
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
Due: build_server, server_unit_tests

refactor studygroup dto
  server/CoastlineServer.Service/Models/StudyGroupDto.cs
Due: build_server, server_unit_tests

arrow added
  client/src/components/common/ModuleList.vue
Due: build_client, client_unit_tests

add member dto
  server/CoastlineServer.Service/Models/MemberDto.cs
  server/CoastlineServer.Service/Models/StudyGroupDto.cs
  server/CoastlineServer.Service/Profiles/MemberProfile.cs
Due: build_server, server_unit_tests

added examples for unit test
  client/tests/unit/example.spec.ts
Due: build_client, client_unit_tests

update studygrouprepo
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
Due: build_server, server_unit_tests

get endpoint for studygroupsä
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
Due: build_server, server_unit_tests

remove unnecessary nuget packages
  server/CoastlineServer.Service/CoastlineServer.Service.csproj
Due: build_server, server_unit_tests

added GET studygroup request
  client/src/components/common/StudyGroupList.vue
  client/src/services/StudyGroup.ts
  client/src/services/studyGroupService.ts
  client/src/views/StudyGroupsPerModule.vue
  client/tests/unit/example.spec.ts
Due: build_client, client_unit_tests
