Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

build_client:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildClientImage

build_server:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildServerImage

client_unit_tests:
  stage: test
  image: $CLIENT_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /app
  - npm run test:unit
  needs:
  - build_client

server_unit_tests:
  stage: test
  image: $SERVER_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /src
  - dotnet test
  needs:
  - build_server

replease branch
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

production
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

allow pipeline for release branches
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

rename api url
  client/entrypoint.sh
  client/src/Configuration.ts
Due: build_client, client_unit_tests

rename front end
  client/README.md
Due: build_client, client_unit_tests

refactor logic into userService
  client/src/router/index.ts
  client/src/services/userService.ts
  client/src/views/People.vue
Due: build_client, client_unit_tests

define default appsettings
  server/CoastlineServer.Service/appsettings.Development.json
  server/CoastlineServer.Service/appsettings.json
Due: build_server, server_unit_tests

update docker-compose.yml
  server/docker-compose.yml
Due: build_server, server_unit_tests

remove https redirect and enable cors
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

define launch settings
  server/CoastlineServer.Service/Properties/launchSettings.json
Due: build_server, server_unit_tests

use type for RouteConfig
  client/src/router/index.ts
Due: build_client, client_unit_tests

simplify demo
  client/src/App.vue
  client/src/components/BottomNavigation.vue
  client/src/components/Header.vue
Due: build_client, client_unit_tests

finish demo
  client/src/App.vue
  client/src/components/Header.vue
  client/src/components/common/ProfileImage.vue
  client/src/components/common/UserList.vue
  client/src/components/layout/BottomNavigation.vue
  client/src/components/layout/Header.vue
  client/src/router/index.ts
  client/src/services/User.ts
  client/src/services/userService.ts
  client/src/views/Home.vue
  client/src/views/People.vue
  client/src/views/Students.vue
Due: build_client, client_unit_tests

add allowed origin to deployment
  .gitlab-ci.yml
  k8s-chart/charts/server/templates/server-configmap.yaml
  k8s-chart/charts/server/templates/server.yaml
  k8s-chart/charts/server/values.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

specify protocols for urls and and allowed origin
  .gitlab-ci.yml
  client/src/views/Home.vue
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix chart
  k8s-chart/charts/server/templates/server.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

async userrepo/controller, exception handling repo/controller, test refactoring
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/CoastlineServer.Repository.csproj
  server/CoastlineServer.Repository/Exceptions/OptimisticConcurrencyException.cs
  server/CoastlineServer.Repository/RepositoryBase.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
Due: build_server, server_unit_tests

refactor delete test & readonly repo
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/_userRepository.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

rename title in readme
  server/README.md
Due: build_server, server_unit_tests

validation for input
  server/CoastlineServer.DAL/Context/UserTypeConfig.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
  server/CoastlineServer.Service/CoastlineServer.Service.csproj
  server/CoastlineServer.Service/Controllers/TestController.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
  server/CoastlineServer.Service/Profiles/UserProfile.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

#112 lint with unix line endings and change vue script indent style
  client/.eslintrc.js
  client/src/App.vue
  client/src/components/HelloWorld.vue
  client/src/components/common/ProfileImage.vue
  client/src/components/common/UserList.vue
  client/src/views/Home.vue
  client/src/views/Students.vue
Due: build_client, client_unit_tests

Add some introduction and known issues for the front end.
  client/README.md
Due: build_client, client_unit_tests

add instruction backend setup
  server/README.md
Due: build_server, server_unit_tests

add testing conventions
  server/README.md
Due: build_server, server_unit_tests

add relationship convention
  server/README.md
Due: build_server, server_unit_tests

#112 force unix style line ending in git
  .gitattributes
Due: none

#112 force unix style line ending in git Part 2
  .gitattributes
Due: none

Add environment file and exclude it in dockerfile
  client/.env
  client/prod.dockerfile
  client/src/Configuration.ts
  client/src/main.ts
Due: build_client, client_unit_tests

ignore env files instead of removing them
  client/.dockerignore
  client/prod.dockerfile
Due: build_client, client_unit_tests

us es6 import for dotenv
  client/src/main.ts
Due: build_client, client_unit_tests

removed dotenv as it's already included in vue
  client/.env
  client/package-lock.json
  client/package.json
  client/src/main.ts
Due: build_client, client_unit_tests

change comment in Configuration.ts
  client/src/Configuration.ts
Due: build_client, client_unit_tests

#113 restructure app. fix css issues with header and navigation bar (they can now do their own padding of the content). do first implementation of the header.
  client/src/App.vue
  client/src/components/common/UserList.vue
  client/src/components/layout/BottomNavigation.vue
  client/src/components/layout/Header.vue
  client/src/router/index.ts
  client/src/views/Student.vue
  client/src/views/Students.vue
Due: build_client, client_unit_tests

fix build by removing log statement
  client/src/views/Student.vue
Due: build_client, client_unit_tests

add design for header without sub title
  client/src/components/layout/Header.vue
  client/src/views/Student.vue
Due: build_client, client_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
