Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

build_client:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildClientImage

build_server:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildServerImage

client_unit_tests:
  stage: test
  image: $CLIENT_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /app
  - npm run test:unit
  needs:
  - build_client

server_unit_tests:
  stage: test
  image: $SERVER_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /src
  - dotnet test
  needs:
  - build_server

refactor UsersControllerTest.cs and StudyGroupsControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupsControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

remove unused import in models and make last name optional
  server/CoastlineServer.Service/Models/ModuleDto.cs
  server/CoastlineServer.Service/Models/StudyGroupDto.cs
  server/CoastlineServer.Service/Models/StudyGroupForCreationDto.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
Due: build_server, server_unit_tests

refactore ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
Due: build_server, server_unit_tests

refactor
  server/CoastlineServer.Service/Controllers/UsersController.cs
Due: build_server, server_unit_tests

update helm chart and ci cd for api authentication
  .gitlab-ci.yml
  k8s-chart/charts/server/templates/server-configmap.yaml
  k8s-chart/charts/server/templates/server.yaml
  k8s-chart/charts/server/values.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

refactor test naming
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupsControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

add post for resource-servers in ci cd pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix auth0 resources in pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

pipeline test
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

update edit user profile style
  client/src/App.vue
  client/src/components/common/EditUserData.vue
Due: build_client, client_unit_tests

update seed date for demo
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/UserTypeConfig.cs
  server/CoastlineServer.DAL/Migrations/20200515110800_InitialCreate.Designer.cs
  server/CoastlineServer.DAL/Migrations/CoastlineContextModelSnapshot.cs
Due: build_server, server_unit_tests

update seed date for demo
  server/CoastlineServer.DAL/Migrations/20200515110800_InitialCreate.cs
Due: build_server, server_unit_tests

restructure unit test
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

progressbar at top
  client/src/components/common/StudyGroupCreateDialog.vue
Due: build_client, client_unit_tests

removed unused import
  client/src/components/common/StudyGroupList.vue
Due: build_client, client_unit_tests

moment in german
  client/src/components/common/StudyGroupList.vue
  client/tests/unit/components.spec.ts
Due: build_client, client_unit_tests

removed purpose validation
  client/src/services/studyGroupService.ts
Due: build_client, client_unit_tests

add Modul to header
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

review mr
  client/src/components/common/StudyGroupCreateDialog.vue
  client/src/components/common/StudyGroupList.vue
  client/src/services/study-group/StudyGroup.ts
  client/src/services/study-group/StudyGroupForCreation.ts
  client/src/services/study-group/StudyGroupService.ts
  client/src/views/StudyGroupsPerModule.vue
  client/tests/unit/services/studyGroupService.spec.ts
Due: build_client, client_unit_tests

changed dialog to card
  client/src/components/common/StudyGroupCreateDialog.vue
Due: build_client, client_unit_tests

refactoring mr
  client/src/components/common/StudyGroupCreateDialog.vue
  client/src/services/study-group/StudyGroupService.ts
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

corrected module title
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

add static analysis for server
  .gitlab-ci.yml
  server/sonarqube.dockerfile
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix pipeline yaml
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix dag in pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

add test coverage to sonarqube
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

add test coverage to sonarqube
  server/CoastlineServer.Repository.Testing/CoastlineServer.Repository.Testing.csproj
  server/CoastlineServer.Service.Testing/CoastlineServer.Service.Testing.csproj
Due: build_server, server_unit_tests

Add user creation, add user put, add verification that user exists in database and else create user, validate user updat
  client/package-lock.json
  client/package.json
  client/src/auth/authGuard.ts
  client/src/components/common/EditUserData.vue
  client/src/services/User.ts
  client/src/services/userService.ts
  client/src/views/Profile.vue
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

replace status 200 with status ok
  client/src/services/moduleService.ts
  client/src/services/studyGroupService.ts
  client/src/services/userService.ts
Due: build_client, client_unit_tests

move check to correct location
  client/src/auth/authGuard.ts
Due: build_client, client_unit_tests

don't set last name when creating new user
  client/src/services/userService.ts
Due: build_client, client_unit_tests

exclude migrations and add unit tests results to sonarqube
  .gitlab-ci.yml
  server/.gitignore
Due: build_client, build_server, client_unit_tests, server_unit_tests

try to ger more information about unit tests
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

test
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

set sonar loing token as variable
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

remove unused snack bar on put user, remove unnecessarily stuff from edit user data, add unit test for edit user data
  client/src/components/common/EditUserData.vue
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
