Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml

finish studygrouprepo
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_server, server_unit_tests

finish studygroupcontroller
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Models/StudyGroupForCreationDto.cs
  server/CoastlineServer.Service/Profiles/StudyGroupProfile.cs
Due: build_server, server_unit_tests

enable integration tests
  .gitlab-ci.yml
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix command in server_unit_tests job
  .gitlab-ci.yml
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

revert change as we stick to multiple dtos
  README.md
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Models/UserDto.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
  server/CoastlineServer.Service/Profiles/UserProfile.cs
  server/CoastlineServer.Service/appsettings.Development.json
Due: build_server, server_unit_tests

revert change as we stick to multiple dtos
  README.md
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
  server/CoastlineServer.Service/Profiles/UserProfile.cs
  server/CoastlineServer.Service/appsettings.Development.json
Due: build_server, server_unit_tests

revert change as we stick to multiple dtos
  server/CoastlineServer.Service/Controllers/UsersController.cs
Due: build_server, server_unit_tests

revert change as we stick to multiple dtos
  server/CoastlineServer.Service/Models/UserDto.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
Due: build_server, server_unit_tests

update readme for client
  client/README.md
Due: build_client, client_unit_tests

add section environment variables for client
  client/README.md
Due: build_client, client_unit_tests

finish readme for server and client
  client/README.md
  server/README.md
  server/docker-compose.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix some typos
  client/README.md
  server/README.md
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix some typos
  server/README.md
Due: build_server, server_unit_tests

fix list indent
  server/README.md
Due: build_server, server_unit_tests

add readme in repository root
  README.md
Due: none

add swagger documentation
  server/README.md
Due: build_server, server_unit_tests

fix typo
  client/src/services/studyGroupService.ts
Due: build_client, client_unit_tests

Resolve "Integration Tests in CI and Local"
  .gitlab-ci.yml
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

mapper fix and integration tests for studygrpcontroller
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Models/StudyGroupForCreationDto.cs
  server/CoastlineServer.Service/Profiles/UserProfile.cs
Due: build_server, server_unit_tests

apply status code conventions
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
Due: build_server, server_unit_tests

Swagger
  .gitlab-ci.yml
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
  server/CoastlineServer.Service/CoastlineServer.Service.csproj
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Models/UserDto.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

resolve merge conflicts properly
  .gitlab-ci.yml
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

redirect to studyGroups page when studyGroupsPerModule page gets reloaded
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

add missing content
  .gitlab-ci.yml
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_client, build_server, client_unit_tests, server_unit_tests

add module entity and dependencies
  server/CoastlineServer.DAL/Entities/Confirmation.cs
  server/CoastlineServer.DAL/Entities/Module.cs
  server/CoastlineServer.DAL/Entities/Strength.cs
Due: build_server, server_unit_tests

add module, strength, confirmations type configs
  server/CoastlineServer.DAL/Configurations/ConfirmationTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/ModuleTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/StrengthTypeConfig.cs
  server/CoastlineServer.DAL/Configurations/StudyGroupTypeConfig.cs
  server/CoastlineServer.DAL/Context/CoastlineContext.cs
  server/CoastlineServer.DAL/Entities/Confirmation.cs
  server/CoastlineServer.DAL/Entities/Strength.cs
  server/CoastlineServer.DAL/Entities/StudyGroup.cs
  server/CoastlineServer.DAL/Entities/User.cs
Due: build_server, server_unit_tests

update dbcontext
  server/CoastlineServer.DAL/Configurations/ConfirmationTypeConfig.cs
  server/CoastlineServer.DAL/Context/CoastlineContext.cs
Due: build_server, server_unit_tests

fix pipeline
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
Due: build_server, server_unit_tests

new InitialCreate
  server/CoastlineServer.DAL/Migrations/20200331124122_InitialCreate.Designer.cs
  server/CoastlineServer.DAL/Migrations/20200331124122_InitialCreate.cs
  server/CoastlineServer.DAL/Migrations/20200416163153_AddStudyGroups.cs
  server/CoastlineServer.DAL/Migrations/20200429122206_InitialCreate.Designer.cs
  server/CoastlineServer.DAL/Migrations/20200429122206_InitialCreate.cs
  server/CoastlineServer.DAL/Migrations/CoastlineContextModelSnapshot.cs
Due: build_server, server_unit_tests

Resolve "Readme und Dokumentation"
  README.md
  client/README.md
  server/README.md
  server/docker-compose.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

refactor studygrprepo add mapper config for module
  server/CoastlineServer.DAL/Migrations/20200430061317_InitialCreate.Designer.cs
  server/CoastlineServer.DAL/Migrations/20200430061317_InitialCreate.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
  server/CoastlineServer.Service/Models/ModuleDto.cs
  server/CoastlineServer.Service/Models/StudyGroupDto.cs
  server/CoastlineServer.Service/Models/StudyGroupForCreationDto.cs
  server/CoastlineServer.Service/Profiles/ModuleProfile.cs
Due: build_server, server_unit_tests

refactor repos & tests
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository/Parameters/StudyGroupResourceParameters.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
Due: build_server, server_unit_tests

add modulerepo with unit tests
  server/CoastlineServer.Repository.Testing/ModuleRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/ModuleRepository.cs
Due: build_server, server_unit_tests

exception handling for query parameter
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Startup.cs
Due: build_server, server_unit_tests

add getall with strength parameter for users
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/Parameters/UserResourceParameters.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service.Testing/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Controllers/UsersController.cs
  server/CoastlineServer.Service/Models/StrengthDto.cs
  server/CoastlineServer.Service/Models/UserDto.cs
  server/CoastlineServer.Service/Profiles/StrengthProfile.cs
Due: build_server, server_unit_tests

add modulescontroller & integration tests
  server/CoastlineServer.Repository.Testing/StudyGroupRepositoryTest.cs
  server/CoastlineServer.Repository/UserRepository.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
  server/CoastlineServer.Service/Controllers/ModulesController.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Profiles/UserProfile.cs
Due: build_server, server_unit_tests

refactor dtos
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
  server/CoastlineServer.Service/Models/ModuleDto.cs
Due: build_server, server_unit_tests

coaching endpoint added
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon-120x120.png
  client/public/img/icons/apple-touch-icon-152x152.png
  client/public/img/icons/apple-touch-icon-180x180.png
  client/public/img/icons/apple-touch-icon-60x60.png
  client/public/img/icons/apple-touch-icon-76x76.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/public/img/icons/mstile-150x150.png
  client/src/assets/logo.png
  client/src/services/moduleService.ts
  client/src/services/userService.ts
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests
