Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

build_client:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildClientImage

build_server:
  stage: build
  image: docker:19
  tags:
  - docker
  script:
  - buildServerImage

client_unit_tests:
  stage: test
  image: $CLIENT_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /app
  - npm run test:unit
  needs:
  - build_client

server_unit_tests:
  stage: test
  image: $SERVER_BUILDER_REPOSITORY:$CI_COMMIT_REF_SLUG
  variables:
    GIT_STRATEGY: none
  script:
  - cd /src
  - dotnet test
  needs:
  - build_server

Different text with only one student per strength
  client/src/views/CoachingPerModule.vue
Due: build_client, client_unit_tests

unit test user list added
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

coaching per module route added
  client/src/router/index.ts
  client/src/views/CoachingPerModule.vue
Due: build_client, client_unit_tests

Modules Endpoint added
  client/src/components/common/ModuleList.vue
  client/src/services/Module.ts
  client/src/services/moduleService.ts
  client/src/views/Coaching.vue
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroups.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

module type checking added
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

move to integration test folder
  server/CoastlineServer.DAL/CoastlineServer.DAL.csproj
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

comment integration tests
  server/CoastlineServer.DAL/CoastlineServer.DAL.csproj
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

Add context menu with logout entry
  client/src/components/layout/Header.vue
  client/src/views/Profile.vue
Due: build_client, client_unit_tests

changed font weight
  client/src/components/common/StudyGroupList.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

remove strength from moduledto
  server/CoastlineServer.Service/Models/ModuleDto.cs
Due: build_server, server_unit_tests

fix mad merge
  server/CoastlineServer.Service/Models/UserDto.cs
Due: build_server, server_unit_tests

test commit
  README.md
Due: none

Delete UsersControllerTest.cs
  server/CoastlineServer.Service.Testing/UsersControllerTest.cs
Due: build_server, server_unit_tests

Resolve merge conflict
  client/package.json
  client/src/router/index.ts
Due: build_client, client_unit_tests

add correct images
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/coastline-logo-auth0.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
Due: build_client, client_unit_tests

replaced for each with every
  client/src/services/Module.ts
  client/src/services/StudyGroup.ts
  client/src/services/User.ts
Due: build_client, client_unit_tests

removed totods
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

removed todos
  client/src/Configuration.ts
  client/src/components/common/UserList.vue
Due: build_client, client_unit_tests

fix module list css, fix cut off letters in header, add cl namespace to all css classes, add correct rounding and shadows to studygroup entry
  client/src/components/common/ModuleList.vue
  client/src/components/common/ProfileImage.vue
  client/src/components/common/StudyGroupList.vue
  client/src/components/common/UserList.vue
  client/src/components/layout/BottomNavigation.vue
  client/src/components/layout/Header.vue
Due: build_client, client_unit_tests

refactore coachingPerModule
  client/src/services/userService.ts
  client/src/views/CoachingPerModule.vue
Due: build_client, client_unit_tests

refactore studygroups per module
  client/src/services/studyGroupService.ts
  client/src/services/userService.ts
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

refactore validation
  client/src/services/moduleService.ts
  client/src/services/studyGroupService.ts
  client/src/views/Coaching.vue
  client/src/views/StudyGroups.vue
Due: build_client, client_unit_tests

un comment integration tests
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

force creating new db in pipeline for integration tests
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

comment tests
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

test integration tests
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
Due: build_server, server_unit_tests

prevent integration test from running parallel
  server/CoastlineServer.Service.Testing/xunit.runner.json
Due: build_server, server_unit_tests

prevent integration test from running parallel
  server/CoastlineServer.Service.Testing/CoastlineServer.Service.Testing.csproj
Due: build_server, server_unit_tests

change app version number
  k8s-chart/Chart.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix database name for production
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

update server readme
  server/README.md
Due: build_server, server_unit_tests

refactor
  server/CoastlineServer.DAL/Migrations/20200430061317_InitialCreate.cs
  server/CoastlineServer.DAL/Migrations/CoastlineContextModelSnapshot.cs
  server/CoastlineServer.Repository.Testing/UserRepositoryTest.cs
  server/CoastlineServer.Repository/ModuleRepository.cs
  server/CoastlineServer.Repository/StudyGroupRepository.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/ModulesControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupControllerTest.cs
  server/CoastlineServer.Service.Testing/IntegrationTests/UsersControllerTest.cs
  server/CoastlineServer.Service/Controllers/ModulesController.cs
  server/CoastlineServer.Service/Models/StudyGroupForCreationDto.cs
  server/CoastlineServer.Service/Models/UserDto.cs
  server/CoastlineServer.Service/Models/UserForCreationDto.cs
Due: build_server, server_unit_tests

renaming
  server/CoastlineServer.Service.Testing/IntegrationTests/StudyGroupsControllerTest.cs
Due: build_server, server_unit_tests

POST studygroup service added
  client/src/services/studyGroupService.ts
Due: build_client, client_unit_tests

Add study group dialog
  client/src/components/common/StudyGroupCreateDialog.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

implemented creation dialog
  client/package-lock.json
  client/package.json
  client/src/components/common/StudyGroupCreateDialog.vue
  client/src/components/common/StudyGroupList.vue
  client/src/services/studyGroupService.ts
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

fixed unit tests
  client/src/components/common/StudyGroupList.vue
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

add token to service headers
  client/src/main.ts
  client/src/services/moduleService.ts
  client/src/services/studyGroupService.ts
  client/src/services/userService.ts
  server/CoastlineServer.Service/appsettings.Development.json
Due: build_client, build_server, client_unit_tests, server_unit_tests

add conventions for swagger on controllers
  server/CoastlineServer.Service/CoastlineServer.Service.csproj
  server/CoastlineServer.Service/Controllers/ModulesController.cs
  server/CoastlineServer.Service/Controllers/StudyGroupsController.cs
Due: build_server, server_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
