Repository epj-coastline/EPJ-Mirror-Application: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_client, build_server, client_unit_tests, server_unit_tests

Path conditions:
  build_client: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  build_server: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml
  client_unit_tests: any of: client/**/*, k8s-chart/**/*, .gitlab-ci.yml
  server_unit_tests: any of: server/**/*, k8s-chart/**/*, .gitlab-ci.yml

fixed unit tests
  client/tests/unit/example.spec.ts
Due: build_client, client_unit_tests

add json class mapper, implement data checking for user and study group, add spinner for when the data is loading or invalid
  client/package-lock.json
  client/package.json
  client/src/components/common/LoadingSpinner.vue
  client/src/components/common/StudyGroupList.vue
  client/src/components/common/UserList.vue
  client/src/main.ts
  client/src/services/StudyGroup.ts
  client/src/services/User.ts
  client/src/services/studyGroupService.ts
  client/src/services/userService.ts
  client/src/views/CoachingPerModule.vue
  client/src/views/StudyGroupsPerModule.vue
Due: build_client, client_unit_tests

add unit tests for type checking, and remove unused code
  client/src/components/HelloWorld.vue
  client/src/views/Testing.vue
  client/tests/unit/unittests.spec.ts
Due: build_client, client_unit_tests

replace logo and style pwa
  client/package.json
  client/public/favicon.ico
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon-120x120.png
  client/public/img/icons/apple-touch-icon-152x152.png
  client/public/img/icons/apple-touch-icon-180x180.png
  client/public/img/icons/apple-touch-icon-60x60.png
  client/public/img/icons/apple-touch-icon-76x76.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/public/img/icons/mstile-150x150.png
  client/public/img/icons/safari-pinned-tab.svg
  client/src/assets/.gitkeep
  client/src/assets/logo.png
Due: build_client, client_unit_tests

update gitattribtutes
  .gitattributes
  client/package-lock.json
  client/public/img/icons/msapplication-icon-144x144.png
Due: build_client, client_unit_tests

update pwa
  .gitattributes
  client/package.json
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
Due: build_client, client_unit_tests

update pwa
  client/public/favicon.ico
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/public/img/icons/safari-pinned-tab.svg
  client/src/App.vue
  client/src/assets/.gitkeep
  client/src/assets/coastline-logo.png
Due: build_client, client_unit_tests

add larger image
  client/package.json
  client/public/favicon.ico
  client/public/img/icons/android-chrome-1024x1024.png
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-1024x1024.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/public/img/icons/safari-pinned-tab.svg
Due: build_client, client_unit_tests

update logo
  client/public/favicon.ico
  client/public/img/icons/android-chrome-1024x1024.png
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-1024x1024.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/src/assets/coastline-logo.png
Due: build_client, client_unit_tests

change logo
  client/public/favicon.ico
  client/public/img/icons/android-chrome-1024x1024.png
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-1024x1024.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/src/assets/coastline-logo.png
Due: build_client, client_unit_tests

try another logo
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-1024x1024.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/coastline-logo.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/favicon.png
  client/public/img/icons/msapplication-icon-144x144.png
Due: build_client, client_unit_tests

update logo
  client/package.json
  client/public/favicon.ico
  client/public/img/icons/android-chrome-1024x1024.png
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-1024x1024.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/coastline-logo.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/favicon.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/src/assets/coastline-logo.png
Due: build_client, client_unit_tests

delete not used favicon
  client/public/img/icons/favicon.png
Due: build_client, client_unit_tests

fix broken url for ios and theme correctly status bar on ios
  client/package.json
  client/src/App.vue
Due: build_client, client_unit_tests

update pwa
  client/package.json
  client/public/favicon.ico
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/src/App.vue
  client/src/assets/coastline-logo.png
Due: build_client, client_unit_tests

update pwa
  client/package.json
  client/public/favicon.ico
  client/public/img/icons/android-chrome-192x192.png
  client/public/img/icons/android-chrome-512x512.png
  client/public/img/icons/android-chrome-maskable-192x192.png
  client/public/img/icons/android-chrome-maskable-512x512.png
  client/public/img/icons/apple-touch-icon.png
  client/public/img/icons/favicon-16x16.png
  client/public/img/icons/favicon-32x32.png
  client/public/img/icons/msapplication-icon-144x144.png
  client/src/assets/coastline-logo.png
Due: build_client, client_unit_tests

remove entry from .gitattributes
  .gitattributes
Due: none

install auth0
  client/package-lock.json
  client/package.json
Due: build_client, client_unit_tests

add coastline logo for auth0
  client/public/img/icons/coastline-logo-auth0.png
Due: build_client, client_unit_tests

implement AuthService with auth0
  client/.env
  client/package-lock.json
  client/package.json
  client/src/Configuration.ts
  client/src/auth/AuthGuard.ts
  client/src/auth/AuthService.ts
  client/src/main.ts
  client/src/router/index.ts
Due: build_client, client_unit_tests

configure eslint
  client/.eslintrc.js
Due: build_client, client_unit_tests

add interfaces for missing types
  client/src/auth/AuthGuard.ts
  client/src/auth/AuthService.ts
Due: build_client, client_unit_tests

add lagin demo
  client/src/App.vue
  client/src/components/layout/BottomNavigation.vue
  client/src/router/index.ts
  client/src/views/Profile.vue
Due: build_client, client_unit_tests

#135 Added png files as binary to .gitattributes
  .gitattributes
Due: none

comment console statemetn2
  client/src/App.vue
  client/src/auth/AuthService.ts
Due: build_client, client_unit_tests

refactore into separate files
  client/entrypoint.sh
  client/src/App.vue
  client/src/auth/Auth0AppState.ts
  client/src/auth/Auth0OnRedirectCallback.ts
  client/src/auth/Auth0TypeMappers.ts
  client/src/auth/Auth0User.ts
  client/src/auth/AuthService.ts
  client/src/views/Profile.vue
  client/tests/unit/AuthService.spec.ts
Due: build_client, client_unit_tests

configure auth0 env variables for review application
  .gitlab-ci.yml
  k8s-chart/Chart.yaml
  k8s-chart/charts/client/templates/client-configmap.yaml
  k8s-chart/charts/client/templates/client.yaml
  k8s-chart/charts/client/values.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

comment out console statement
  client/src/auth/AuthService.ts
Due: build_client, client_unit_tests

fix broken helm start
  k8s-chart/charts/client/templates/client.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix helm chart
  k8s-chart/Chart.yaml
Due: build_client, build_server, client_unit_tests, server_unit_tests

replace env variables proper
  .gitlab-ci.yml
  client/entrypoint.sh
Due: build_client, build_server, client_unit_tests, server_unit_tests

configure auth0 for review applications
  .gitlab-ci.yml
  client/public/img/icons/coastline-logo-auth0.png
Due: build_client, build_server, client_unit_tests, server_unit_tests

-fix pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix pipeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests

fix piepeline
  .gitlab-ci.yml
Due: build_client, build_server, client_unit_tests, server_unit_tests
